/* 1920 and above*/
@media (min-width: 1440px) {
  #home-background {
    background: rgb(25, 28, 33);
    background: -moz-linear-gradient(
      90deg,
      rgba(25, 28, 33, 1) 0%,
      rgba(25, 28, 33, 1) 74%,
      rgba(25, 28, 33, 0) 69%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(25, 28, 33, 1) 0%,
      rgba(25, 28, 33, 1) 74%,
      rgba(25, 28, 33, 0) 69%
    );
    background: linear-gradient(
      90deg,
      rgba(25, 28, 33, 1) 0%,
      rgba(25, 28, 33, 1) 74%,
      rgba(25, 28, 33, 0) 69%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191c21",endColorstr="#191c21",GradientType=1);
  }
  .full-height.first-section .home-buttons_container {
    max-width: 80%;
  }

  #home section#video-part {
    padding: 0 4rem;
  }
  #features .features img{
    width: 55%;
  }
}
/* 1920 and above*/
