/* tablet and above*/
@media (min-width: 769px) {

  #page-home .navbar #login ,
  #page-request-demo .navbar #login {
    display: block;
    opacity: 1;
    border: 1px solid #d5d7da;
    border-radius: 14px;
    max-height: 52px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #fff !important;
  }
  #page-home .navbar #free-signup,
  #page-request-demo .navbar #free-signup {
    background: linear-gradient(317.42deg, #04504e -11.84%, #022221 110.79%);
    border-radius: 14px;
    color: #fff !important;
    max-height: 52px;
    display: flex;
    align-items: center;
  }

  #page-home .navbar {
    padding:1rem 8rem
  }

  #page-home .navbar > .container-fluid .navbar-brand{
    margin-right: 2rem;
  }
  #home-background {
    background: transparent;
  }

  footer{
    padding-left: 4rem;
    padding-top: 2rem; 
  }
}
